<div class="about-me-container">
    <div class="header">
        <h2 class="about-me-title">About me!</h2>
        <img src="./../../assets/images/linkedindProfilePhoto.jpeg" alt="photoProfile" class="photoProfile">
    </div>
    <p class="about-me-description">Hello! I am Francisco Jimenez, a web developer based in Costa Rica. Since discovering my interest in technology, I dove into the exciting world of web development and haven't looked back since. My journey in this field has been a constant pursuit of knowledge and growth, and I am excited to share a little about myself with you.

        As a web developer, I have gained strong skills in a variety of technologies, including Angular, Node.js, and PHP. These tools have allowed me to create dynamic and engaging web experiences for users, from interactive applications to robust websites.
        
        Originally from Costa Rica, I find inspiration in my country's natural beauty and its vibrant culture. When I'm not in front of my computer, I enjoy my time playing the guitar and exploring different genres of music. Music is not only a passion for me, but also a source of creativity and tranquility that fuels my work as a developer.
        
        I consider myself an eternal learner in the web development technology industry, always looking for new ways to improve my skills and stay up to date with the latest trends and advances. I firmly believe in the power of continuing education and hard work to achieve success in this ever-evolving field.
        
        Thank you for visiting my portfolio and allowing me to share a little about who I am and what I'm passionate about!</p>
</div>