.about-me-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    .header{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;

        .img-container{
            padding: 18px 0;
            .photoProfile{
                width:50px; 
                height:50px;
                border-radius: 50%;
            }
            
        }
    }
    .about-me-title{
        font-size: 22px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: 800;
        color: #ffffff;
    }
    
    .about-me-description{
        display: flex;
        font-size: 16px;
        text-align: justify;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        margin: 0 10px;

        .description{
            color: #ffffff;
        }
    
    }
}


@media (max-width: 768px) {
  .about-me-container {
    display: block;
    flex-direction: column;
    .about-me-description{
        flex-direction: column;
    }
  }
}