<div class="about-me-container">
    <div class="header">
        <div>
            <h2 class="about-me-title">Hello! I am Francisco Jimenez!</h2>
        </div>
        <div class="img-container">
            <img src="./../../assets/images/linkedindProfilePhoto.jpeg" alt="photoProfile" class="photoProfile">
        </div>
    </div>
    <div class="about-me-description">
        <p class="description">A web developer based in Costa Rica, 
            I specialize in Angular, Node.js, and PHP to create dynamic and engaging web experiences. 
            My journey in web development is driven by a constant pursuit of knowledge and growth. 
            Inspired by Costa Rica's natural beauty and vibrant culture, 
            I also enjoy playing the guitar, which fuels my creativity and tranquility. As an eternal learner, 
            I am committed to improving my skills and staying updated with the latest trends in web development. 
            Thank you for visiting my portfolio and learning about my passion for technology!</p>
    </div>
</div>