#carouselExampleInterval{
  .carousel-inner{
    .carousel-item{
      h3, p, a{
        color: #ffffff;
      }
    }
  }
}
.projects-title h3{
  width: 100%;
  text-align: center;
  color: #ffffff;
}