#carouselExampleInterval{
  .carousel-inner{
    .carousel-item{
      .project-info{
        align-items: center;
        h3, p, a{
          color: #ffffff;
        }
      }
    }
  }
  .carousel-control-prev, .carousel-control-next{
    height: 25px !important;
  }
}
.projects-title h3{
  width: 100%;
  text-align: center;
  color: #ffffff;
}